{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'main/profile.css' %}">

{% endblock %}

{% block content %}
   


<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                           
                           {% if user.learner.photo %}
                                <img src="{{ user.learner.photo.url }}" alt="logo">
                           {% else %} 
                                <img src="{% static 'django.webp' %}" alt="logo">
                           {% endif %} 
                            
                        </div>
                    </div>

                    {% block account %}
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user}}
                                    </h5>
                                    <h6>
                                        Role: {% for group in user.groups.all %}
                                                | {{ group.name }}
                                              {% endfor %}
                                    </h6>
                                    <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>

                                <!-- <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'accountSettings' %}">Edit profile</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">

                        {% if group == 'teacher' %} 
                            <p>My Lessons</p>
                            <ul>
                                {% for i in course %}
                        
                                    <li><a href="{{ i.get_absolute_url }}">{{i.title}}</a></li>
                        
                                {% endfor %}
                            </ul>
                        {% else %} 
                            <p>My Enrolled courses</p>
                            <ul>
                                {% for i in container %}
                                    {% for j in UserChoice %}
                                        {% if i.idCourse == j.pk %}
                                            <li><a href="{{ j.get_absolute_url }}">{{j.title}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                        </ul>    
                        {% endif %}
                            


                            


                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.pk}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.learner.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><a href="mailto:{{user.email}}">{{user.email}}</a></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><a href="tel:{{user.learner.phone}}">{{user.learner.phone}}</a></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Instagram</label>
                                            </div>
                                            <div class="col-md-6">
                                                {% if user.learner.instagram %}
                                                    <p><a href="tel:{{user.learner.coins}}">{{user.learner.instagram}}</a></p>
                                                {% else %}
                                                    <p>Get 50 coins by registering Instagram</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Tiktok</label>
                                            </div>
                                            <div class="col-md-6">
                                                {% if user.learner.tiktok %}
                                                    <p><a href="tel:{{user.learner.coins}}">{{user.learner.tiktok}}</a></p>
                                                {% else %}
                                                    <p>Get 50 coins by registering TikTok</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Coins</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><a href="tel:{{user.learner.coins}}">{{user.learner.coins}}</a></p>
                                            </div>
                                        </div>

                            </div>

                            <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>English Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 months</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    {% endblock account %}
                </div>
            </form>           
        </div>


{% endblock %}